gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
**/*.json
# GCP service account keys
assets/dialogflow_config.json 
 assets/umangly-app-f2f7668dd890.json
assets/umangly-app-f304568f7d07.json
temp_emotion_repo/

